:root {
  background-color: #222;
  color: whitesmoke;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}